/* Стили для больших экранов */
/* Стили для больших экранов */
/* Стили для маленьких экранов */
@media only screen and (max-device-width: 1194px) {
  .right {
    margin-top: 70px;
    margin-right: 5%;
    margin-left: 5%; } }
@media only screen and (max-device-width: 795px) {
  .left {
    margin-right: 5%;
    margin-left: 5%; }

  .center {
    margin-top: 70px;
    margin-right: 5%;
    margin-left: 5%; } }
/* Стили для маленьких экранов */
/* Стили для очень маленьких экранов */
@media only screen and (max-device-width: 480px) {
  .right {
    margin-right: 0;
    margin-left: 0; 
    text-overflow: clip;
  
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  
border-radius: 25px;
}

  .left {
    margin-right: 0;
    margin-left: 0; }

  .center {
    margin-right: 0;
    margin-left: 0; } }
/* Стили для очень маленьких экранов */

