.svg-contact {
	background: url("svg/sprite.view-129c0ef7.svg") 0 0 no-repeat;
}

.svg-contact-dims {
	width: 140px;
	height: 140px;
}

.svg-education {
	background: url("svg/sprite.view-129c0ef7.svg") 50% 0 no-repeat;
}

.svg-education-dims {
	width: 140px;
	height: 136.62px;
}

.svg-experience {
	background: url("svg/sprite.view-129c0ef7.svg") 0 99.8075140799886% no-repeat;
}

.svg-experience-dims {
	width: 140px;
	height: 136.73px;
}

.svg-profile {
	background: url("svg/sprite.view-129c0ef7.svg") 50% 99.72930616896994% no-repeat;
}

.svg-profile-dims {
	width: 140px;
	height: 136.62px;
}

.svg-skills {
	background: url("svg/sprite.view-129c0ef7.svg") 100% 0 no-repeat;
}

.svg-skills-dims {
	width: 140px;
	height: 140px;
}

.svg-software {
	background: url("svg/sprite.view-129c0ef7.svg") 100% 99.72930616896994% no-repeat;
}

.svg-software-dims {
	width: 140px;
	height: 136.62px;
}

