.svg-contact {
	background: url("svg/sprite.view-dbaa914c.svg") 0 0 no-repeat;
}

.svg-contact-dims {
	width: 100px;
	height: 100px;
}

.svg-education {
	background: url("svg/sprite.view-dbaa914c.svg") 50% 0 no-repeat;
}

.svg-education-dims {
	width: 100px;
	height: 96.62px;
}

.svg-experience {
	background: url("svg/sprite.view-dbaa914c.svg") 0 99.73072703700011% no-repeat;
}

.svg-experience-dims {
	width: 100px;
	height: 96.73px;
}

.svg-profile {
	background: url("svg/sprite.view-dbaa914c.svg") 50% 99.62143853357243% no-repeat;
}

.svg-profile-dims {
	width: 100px;
	height: 96.62px;
}

.svg-skills {
	background: url("svg/sprite.view-dbaa914c.svg") 100% 0 no-repeat;
}

.svg-skills-dims {
	width: 100px;
	height: 100px;
}

.svg-software {
	background: url("svg/sprite.view-dbaa914c.svg") 100% 99.62143853357243% no-repeat;
}

.svg-software-dims {
	width: 100px;
	height: 96.62px;
}

