<section class="software software__margin">
    <h2 class="inscription-header">Software</h2>
    
<div class="progress-soft">
  <div class="progress-soft__label">PHOTOSHOP</div>
  <div class="progress-soft__bar">
    <progress value="90" max="100"></progress>
  </div>
</div>  
    
<div class="progress-soft">
  <div class="progress-soft__label">DREAMWEAVER</div>
  <div class="progress-soft__bar">
    <progress value="75" max="100"></progress>
  </div>
</div>  

<div class="progress-soft">
  <div class="progress-soft__label">ILLUSTRATOR</div>
  <div class="progress-soft__bar">
    <progress value="70" max="100"></progress>
  </div>
</div>  
    
<div class="progress-soft">
  <div class="progress-soft__label">AFTER EFFECTS</div>
  <div class="progress-soft__bar">
    <progress value="61" max="100"></progress>
  </div>
</div> 

<div class="progress-soft">
  <div class="progress-soft__label">INDESIGN</div>
  <div class="progress-soft__bar">
    <progress value="56" max="100"></progress>
  </div>
</div>  
    
<div class="progress-soft">
  <div class="progress-soft__label">HTML&CSS3</div>
  <div class="progress-soft__bar">
    <progress value="90" max="100"></progress>
  </div>
</div> 

</section>
