@charset "UTF-8";
/* Общие стили */
/* Общие стили */
/* Header */
.wrapper {
  min-width: 320px;
  min-height: 1500px;
  background-color: #fff;
  margin: 5px; }

/* Header */
/* Основной контент. */
/* Основной контент. */
/* Футер. */
.clearFix {
  clear: both; }

/* Футер. */
/* Вспомогательные стили для внешних скриптов. */
/* Вспомогательные стили для внешних скриптов. */
