@charset "UTF-8";
/* Общие стили */
/* Общие стили */
/* Header */
.header {
  min-height: 100px;
  background-color: #f00; }

/* Header */
/* Основной контент. */
/* Основной контент. */
/* Футер. */
.clear {
  clear: both; }

/* Футер. */
/* Вспомогательные стили для внешних скриптов. */
/* Вспомогательные стили для внешних скриптов. */
