@charset "UTF-8";
.vstavka2 {
  min-height: 100px;
  background-color: #0ff; }
  .vstavka2 ul li {
    list-style: none;
    height: 20px;
    background-color: #00f; }

.left-container {
  width: 38.2%;
  min-height: 1500px;
  float: left;
  background-color: inherit; }

.right-container {
  width: 56.5%;
  min-height: 1500px;
  float: right;
  padding-top: 85px;
  background-color: inherit; }

.vstavka2 {
  min-height: 100px;
  background-color: #0ff; }
  .vstavka2 ul li {
    list-style: none;
    height: 20px;
    background-color: #00f; }

.contact {
  width: 90%;
  height: auto;
  float: right;
  overflow: hidden;
  font-family: "MyriadPro Regular", sans-serif;
  background-color: #fff;
  font-size: 41px; }

.contact .contact__infa {
  text-align: left;
  padding-left: 1.5%;
  margin-bottom: 60px; }
  .contact .contact__infa strong {
    font-family: "MyriadPro Bold", sans-serif;
    color: #3d6cb0;
    text-transform: uppercase; }

.contact .contact__infa:last-child {
  margin-bottom: 50px; }

.contact .inscription-header::before {
  content: "";
  display: inline-block;
  position: relative;
  width: 6.5vw;
  height: 6.5vw;
  background: url("../img/sprite-svg.svg") 0 0 no-repeat;
  -webkit-background-size: 350% 350%;
     -moz-background-size: 350%;
       -o-background-size: 350%;
          background-size: 350%;
  vertical-align: middle;
  top: -18px;
  left: -3%; }

/* Модуль логотипа. */
/* Круг логотипа. */
.logos {
  width: 85%;
  min-height: 500px;
  background-color: #fff;
  float: right;
  text-align: center;
  position: relative; }

.logos::before {
  content: "";
  display: inline-block;
  width: 0;
  padding: 25.5%;
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
          border-radius: 100%;
  background-color: #3d6cb0;
  -webkit-box-shadow: 0 0 0 25px #fff, 0 0 0 29px #3d6cb0;
     -moz-box-shadow: 0 0 0 25px #fff, 0 0 0 29px #3d6cb0;
          box-shadow: 0 0 0 25px #fff, 0 0 0 29px #3d6cb0;
  margin-top: 200px; }

/* Круг логотипа инлайном. */
/* Круг логотипа инлайном. */
/* Круг логотипа. */
/* Копирайт логотипа. */
.logos__logotype span {
  display: block;
  text-transform: uppercase; }

.logos__logotype_margin {
  margin-top: 110px; }

.logos__logotype_bolder {
  font-family: "MyriadPro LightSemiExt", sans-serif;
  font-size: 4vw;
  letter-spacing: 0.15vw;
  font-stretch: condensed;
  line-height: 2vw;
  font-weight: 300;
  color: #000; }

.logos__logotype_bold {
  font-family: "MyriadPro Bold", sans-serif;
  font-size: 5vw;
  font-stretch: expanded;
  font-weight: bold;
  letter-spacing: -0.3vw;
  line-height: 7.3vw;
  font-variant: small-caps;
  color: #000; }

.logos__logotype_normal {
  font-family: "MyriadPro Bold", sans-serif;
  font-size: 2vw;
  font-weight: bold;
  line-height: 0.5vw;
  letter-spacing: -0.2vw;
  color: #000; }

/* Копирайт логотипа. */
/* Модуль логотипа. */
.skills {
  width: 90%;
  height: auto;
  float: right;
  overflow: hidden;
  font-family: "MyriadPro Regular", sans-serif;
  background-color: #fff;
  font-size: 1.9vw; }

.skills .inscription-header::before {
  content: "";
  display: inline-block;
  position: relative;
  width: 6.6vw;
  height: 6.6vw;
  background: url("../img/sprite-svg.svg") 100% 0 no-repeat;
  -webkit-background-size: 348% 348%;
     -moz-background-size: 348%;
       -o-background-size: 348%;
          background-size: 348%;
  vertical-align: middle;
  top: -18px; }

.progress {
  text-align: center; }

.skills .progress {
  margin-top: -20px;
  margin-bottom: 110px; }

.progress__bar {
  padding-left: 11.5%; }

.progress__block {
  float: left; }

.progress__label {
  margin-bottom: 15px; }

.progress__block {
  margin: 0 1.3%;
  background-color: #e6e6e6;
  width: 0;
  padding: 2.4%;
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
          border-radius: 100%; }

.progress__block_active {
  background-color: #3d6cb0; }

.profile {
  width: 90%;
  height: auto;
  float: right;
  overflow: hidden;
  font-family: "MyriadPro Regular", sans-serif;
  background-color: #fff; }
  .profile p {
    font-size: 30px;
    margin: -45px 2% 0 2%;
    letter-spacing: 1px; }
    .profile p strong {
      font-family: "MyriadPro Bold", sans-serif; }

.profile_margin {
  margin-top: 75px; }

.inscription-header {
  text-transform: uppercase;
  font-family: "MyriadPro bold", sans-serif;
  font-size: 3vw;
  font-weight: bold;
  line-height: normal;
  letter-spacing: -2px;
  color: #3d6cb0;
  position: relative;
  white-space: nowrap; }

.inscription-header::before {
  content: "";
  display: inline-block;
  position: relative;
  width: 6.5vw;
  height: 6.5vw;
  background: url("../img/sprite-svg.svg") 50% 99.72931% no-repeat;
  -webkit-background-size: 350% 350%;
     -moz-background-size: 350%;
       -o-background-size: 350%;
          background-size: 350%;
  left: 0;
  vertical-align: middle;
  margin: 0 1.7%; }

.inscription-header::after {
  content: "";
  display: inline-block;
  position: relative;
  width: 70%;
  height: 10px;
  background-color: #3d6cb0;
  top: -5px;
  right: 0;
  vertical-align: middle;
  margin: 0 2%; }

.education {
  width: 92.7%;
  height: auto;
  float: left;
  overflow: hidden;
  font-family: "MyriadPro Regular", sans-serif;
  background-color: #fff; }
  .education h2 {
    margin-left: 1.5%; }

.education .inscription-header::before {
  content: "";
  display: inline-block;
  position: relative;
  width: 6.5vw;
  height: 6.5vw;
  background: url("../img/sprite-svg.svg") 50% 0 no-repeat;
  -webkit-background-size: 350% 350%;
     -moz-background-size: 350%;
       -o-background-size: 350%;
          background-size: 350%;
  vertical-align: middle;
  top: -18px;
  left: -2%;
  margin: 0 1.2%; }

.education .inscription-header {
  margin-bottom: 0; }

.inscription-post {
  text-transform: uppercase;
  font-family: "MyriadPro bold", sans-serif;
  font-size: 1.9vw;
  font-weight: bold;
  line-height: 0;
  letter-spacing: -2px;
  color: #3d6cb0;
  position: relative;
  white-space: nowrap; }

.education .featured-post {
  margin-left: 3.1%; }

.inscription-post::before {
  content: "";
  display: inline-block;
  position: relative;
  background-color: #000;
  width: 0;
  padding: 1.6%;
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
          border-radius: 100%;
  left: -1%;
  vertical-align: middle;
  margin: 0 1.7%; }

.inscription-post__date {
  font-family: "MyriadPro regular", sans-serif;
  color: #020202;
  margin-left: 2%;
  text-transform: none;
  font-weight: normal; }

.inscription-post__university {
  display: block;
  color: #000;
  font-weight: normal;
  margin-top: 55px;
  margin-left: 6.5%; }

.featured-post__post {
  font-family: "MyriadPro regular", sans-serif;
  color: #000;
  font-size: 1.1vw;
  line-height: 1.5vw;
  width: 85%;
  height: 90px;
  margin-left: 7%; }

.experience {
  width: 92.7%;
  height: auto;
  float: left;
  overflow: hidden;
  font-family: "MyriadPro Regular", sans-serif;
  background-color: #fff; }
  .experience h2 {
    margin-left: 1%;
    margin-bottom: 75px; }

.experience .inscription-header::before {
  content: "";
  display: inline-block;
  position: relative;
  width: 6.5vw;
  height: 6.5vw;
  background: url("../img/sprite-svg.svg") 0 99.80751% no-repeat;
  -webkit-background-size: 350% 350%;
     -moz-background-size: 350%;
       -o-background-size: 350%;
          background-size: 350%;
  vertical-align: middle;
  top: 10px;
  left: -2%;
  margin: 0 1.2%; }

.experience .featured-post {
  margin-left: 2.7%; }

.experience__margin {
  margin-top: 20px; }

.experience .inscription-post {
  color: #000; }

.software {
  width: 92.7%;
  height: auto;
  float: left;
  overflow: hidden;
  font-family: "MyriadPro Regular", sans-serif;
  background-color: #fff;
  font-size: 1.9vw;
  font-stretch: semi-condensed;
  letter-spacing: 0.1vw; }
  .software h2 {
    margin-left: 1%;
    margin-bottom: 70px; }

.software .inscription-header::before {
  content: "";
  display: inline-block;
  position: relative;
  width: 6.55vw;
  height: 6.55vw;
  background: url("../img/sprite-svg.svg") 100% 99.72931% no-repeat;
  -webkit-background-size: 347% 347%;
     -moz-background-size: 347%;
       -o-background-size: 347%;
          background-size: 347%;
  vertical-align: middle;
  top: 10px;
  left: -2%;
  margin: 0 1.2%; }

.software__margin {
  margin-top: 30px; }

.progress-soft {
  text-align: left;
  width: 43.5%;
  height: 85px;
  display: inline-block; }

.software .progress-soft {
  margin-top: -20px;
  margin-bottom: 110px; }

.progress-soft__bar progress {
  width: 100%; }

.progress-soft__margin-left {
  margin-left: 2.5%; }

.progress-soft__float-right {
  float: right; }

.progress-soft__label {
  margin-bottom: 15px; }

.progress-soft__block {
  margin: 0 1.3%;
  background-color: #e6e6e6;
  width: 0;
  padding: 2.4%;
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
          border-radius: 100%; }

.progress-soft__block_active {
  background-color: #3d6cb0; }
