<section class="experience experience__margin">
    <h2 class="inscription-header">Experience</h2>
    
     <article class="featured-post">
           <h3 class="inscription-post">Company name 
           <span class="inscription-post__date">/ / Feb 2011 - Jun 2014</span> 
           <span class="inscription-post__university">YOUR JOB HERE</span></h3>
       <p class="featured-post__post">
           Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
       </p>
        
    </article>
    
    <article class="featured-post">
           <h3 class="inscription-post">Company name 
           <span class="inscription-post__date">/ / Feb 2011 - Jun 2014</span> 
           <span class="inscription-post__university">YOUR JOB HERE</span></h3>
       <p class="featured-post__post">
           Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
       </p>
        
    </article>
    
    <article class="featured-post">
           <h3 class="inscription-post">Company name 
           <span class="inscription-post__date">/ / Feb 2011 - Jun 2014</span> 
           <span class="inscription-post__university">YOUR JOB HERE</span></h3>
       <p class="featured-post__post">
           Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
       </p>
        
    </article>
</section>
