.experience
    width: 92.7%
    height: auto
    float: left
    overflow: hidden
    font-family: "MyriadPro Regular", $hrift
    background-color: #fff
    h2
        margin-left: 1%
        margin-bottom: 75px

.experience .inscription-header::before
    content: ""
    display: inline-block
    position: relative
    width: 6.5vw
    height: 6.5vw
    background: url("../img/sprite-svg.svg") 0 99.8075140799886% no-repeat
    background-size: 350%
    vertical-align: middle
    top: 10px
    left: -2%
    margin: 0 1.2%
    
.experience .featured-post
    margin-left: 2.7%
    
.experience__margin
    margin-top: 20px
    
.experience .inscription-post
    color: #000
    