doctype
html(lang="ru")
  head
  
    meta(charset="utf-8")
    title= "Шаблон CV"
    
    include templates/head/meta/meta.html 
    
  body
    div.wrapper     
      include templates/left-container/left-container.pug 
      include templates/right-container/right-container.pug 
    
    
    include templates/js-connection/jquery-connection.html
    include templates/js-connection/popicsel-prefect-connection.html
    include templates/js-connection/js-connection.html 