<!-- Модуль логотипа. -->
<section class="logos">
 
     <!-- Круг логотипа инлайном. 
   
       <div class="logos__circle logos__circle_margin-top">
        <span></span>
       </div>
       -->
     <!-- end Круг логотипа инлайном. -->
     
    <!-- Копирайт логотипа. -->
    <div class="logos__logotype logos__logotype_margin">
        <p><span class="logos__logotype_bolder">NAME HERE</span>
        <span class="logos__logotype_bold">SURNAME</span>
        <span class="logos__logotype_normal">GRAPHIC DESIGNER</span>
        </p>
    </div>
    <!-- end Копирайт логотипа. -->
</section>
<!-- end Модуль логотипа. -->