<div class="skills">
 <h2 class="inscription-header">Skills</h2> 
   
 <div class="progress">
  <div class="progress__label">CREATIVE</div>
  <div class="progress__bar">
    <div class="progress__block progress__block_active"></div>
    <div class="progress__block progress__block_active"></div>
    <div class="progress__block progress__block_active"></div>
    <div class="progress__block progress__block_active"></div>
    <div class="progress__block progress__block_active"></div>
    <div class="progress__block progress__block_active"></div>
    <div class="progress__block progress__block_active"></div>
    <div class="progress__block progress__block_active"></div>
    <div class="progress__block progress__block_active"></div>
    <div class="progress__block"></div>
    <div class="progress__block"></div>
    <div class="progress__block"></div>
  </div>
</div>  
    
<div class="progress">
  <div class="progress__label">TEAMWORK</div>
  <div class="progress__bar">
    <div class="progress__block progress__block_active"></div>
    <div class="progress__block progress__block_active"></div>
    <div class="progress__block progress__block_active"></div>
    <div class="progress__block progress__block_active"></div>
    <div class="progress__block progress__block_active"></div>
    <div class="progress__block progress__block_active"></div>
    <div class="progress__block progress__block_active"></div>
    <div class="progress__block progress__block_active"></div>
    <div class="progress__block progress__block_active"></div>
    <div class="progress__block progress__block_active"></div>
    <div class="progress__block progress__block_active"></div>
    <div class="progress__block"></div>
  </div>
</div>  

<div class="progress">
  <div class="progress__label">INNOVATE</div>
  <div class="progress__bar">
    <div class="progress__block progress__block_active"></div>
    <div class="progress__block progress__block_active"></div>
    <div class="progress__block progress__block_active"></div>
    <div class="progress__block progress__block_active"></div>
    <div class="progress__block progress__block_active"></div>
    <div class="progress__block progress__block_active"></div>
    <div class="progress__block"></div>
    <div class="progress__block"></div>
    <div class="progress__block"></div>
    <div class="progress__block"></div>
    <div class="progress__block"></div>
    <div class="progress__block"></div>
  </div>
</div> 

<div class="progress">
  <div class="progress__label">COMMUNICATION</div>
  <div class="progress__bar">
    <div class="progress__block progress__block_active"></div>
    <div class="progress__block progress__block_active"></div>
    <div class="progress__block progress__block_active"></div>
    <div class="progress__block progress__block_active"></div>
    <div class="progress__block progress__block_active"></div>
    <div class="progress__block progress__block_active"></div>
    <div class="progress__block progress__block_active"></div>
    <div class="progress__block progress__block_active"></div>
    <div class="progress__block progress__block_active"></div>
    <div class="progress__block progress__block_active"></div>
    <div class="progress__block progress__block_active"></div>
    <div class="progress__block"></div>
  </div>
</div> 

</div>