/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-img-uslug-1 {
  background-image: url(sprite.png);
  background-position: 0px -1068px;
  width: 71px;
  height: 80px;
}
.icon-img-uslug-10 {
  background-image: url(sprite.png);
  background-position: 0px -214px;
  width: 84px;
  height: 66px;
}
.icon-img-uslug-2 {
  background-image: url(sprite.png);
  background-position: 0px -330px;
  width: 67px;
  height: 68px;
}
.icon-img-uslug-3 {
  background-image: url(sprite.png);
  background-position: 0px -568px;
  width: 84px;
  height: 72px;
}
.icon-img-uslug-4 {
  background-image: url(sprite.png);
  background-position: 0px -105px;
  width: 99px;
  height: 59px;
}
.icon-img-uslug-5 {
  background-image: url(sprite.png);
  background-position: 0px -814px;
  width: 70px;
  height: 76px;
}
.icon-img-uslug-6 {
  background-image: url(sprite.png);
  background-position: 0px -690px;
  width: 77px;
  height: 74px;
}
.icon-img-uslug-7 {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 73px;
  height: 55px;
}
.icon-img-uslug-8 {
  background-image: url(sprite.png);
  background-position: 0px -448px;
  width: 53px;
  height: 70px;
}
.icon-img-uslug-9 {
  background-image: url(sprite.png);
  background-position: 0px -940px;
  width: 69px;
  height: 78px;
}
