// @import _mixin.sass
    
/* Общие стили */ 


/* Общие стили */

/* Header */
.wrapper
    //max-width: 1920px
    min-width: 320px
    min-height: 1500px
    background-color: #f00
    margin: 145px 4.3%
/* Header */

/* Основной контент. */

        


/* Основной контент. */


/* Футер. */


.clearFix 
    clear: both
/* Футер. */

/* Вспомогательные стили для внешних скриптов. */

/* Вспомогательные стили для внешних скриптов. */

